@import "../colors.scss";

.home {
  --font-color: #333;
  --background-color: #{$fortna-brand-white};
  --link-color: cornflowerblue;
}

[data-theme="dark"] .home {
  --font-color: #eee;
  --background-color: #{$fortna-brand-blue};
  --link-color: lightblue;
}

.home {
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh;
}