@import "../colors.scss";

.about {
  --font-color: #333;
  --background-color: #{$fortna-alert-01};
  --link-color: green;
}

[data-theme="dark"] .about {
  --font-color: #eee;
  --background-color: #{$fortna-health-01};
  --link-color: grey;
}

.about {

  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh;
}