$fortna-brand-blue: #0080FF;
$fortna-brand-white: #ffffff;

$fortna-black: #000000;
$fortna-text-high: #212121;
$fortna-text-medium: #666666;
$fortna-text-low: #9E9E9E;

$fortna-blue-01: #ecf2ff;
$fortna-blue-02: #dbe9ff;
$fortna-blue-03: #d6e8f7;
$fortna-blue-04: #d8dfe6;
$fortna-blue-05: #6d8194;
$fortna-blue-06: #0f4c81;
$fortna-blue-07: #123c65;
$fortna-blue-08: #0c2d4d;
$fortna-blue-09: #062039;
$fortna-blue-10: #383838;
$fortna-blue-10-12: #e7e7e7;
$fortna-blue-10-25: #cdcdcd;
$fortna-blue-10-12-dark: #263f59;
$fortna-blue-10-25-dark: #3c5268;

$fortna-white-01: #f3f3f3;
$fortna-white-02: #f2f3f4;
$fortna-white-03: #f0f0f0;
$fortna-white-04: #fafafa;

$fortna-alert-01: #e61f00;
$fortna-alert-02: #fcedee;
$fortna-alert-03: #9f0f05;

$fortna-health-01: #32b312;
$fortna-health-02: #eff9ec;
$fortna-health-03: #186505;

$fortna-warning-01: #ffa329;
$fortna-warning-02: #fffbeb;
$fortna-warning-03: #c9ac46;

$fortna-info: #0077B3;

$fortna-border: #e0e0e0;

$fortna-dark-01: #0B2845;
$fortna-black-01-5: rgba(0, 0, 0, 0.05);
$fortna-black-01-20: rgba(0, 0, 0, 0.2);
$fortna-black-01-16: rgba(0, 0, 0, 0.16);
$fortna-black-01-30: rgba(0, 0, 0, 0.3);

$fortna-shadow-01: #f2f3f4;